<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <publishItem>
        <processor type="SitecoreFromArg.CdnAzure.CdnPublishing,SitecoreFromArg.CdnAzure"
                   patch:before="processor[@type='Sitecore.Publishing.Pipelines.PublishItem.RemoveUnknownChildren, Sitecore.Kernel']">
          <Enabled>yes</Enabled>
          <SourceDomain>/cdn</SourceDomain>
        </processor>
      </publishItem>
    </pipelines>
  </sitecore>
</configuration>
